@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  font-family: 'DM Sans', sans-serif;
}

body{
  padding: 5px 10%;
}

.d-flex{
  display: flex;
}

.nav-text{
  font-weight: 600;
}

.btn{
  padding: 16px 36px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}

.primary-bg-color{
  background-color: #FF7143;
}
.primary-color{
  color: #FF7143;
}
.secondary-bg-color{
  background-color: #5454D4;
}
.secondary-color{
  color: #5454D4;
}

#logo-brand{
  height: 30px; 
  width: auto;
}